<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Home</title>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            .block {
                margin: 50px;
                border-width: 5px;
                border-color: black;
            }

            .gray {
                color: grey;
            }

            .red {
                color: red;
            }

            .green {
                color: green;
            }

            .lb {
                font-size: large;
                font-weight: bold;
                font-family: sans-serif;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/logout">Logout</a>
        </nav>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4">
                    <h4>User Name</h4>
                    <p>{{username}}</p>
                </div>
                <div class="col-sm-4">
                    <h4>Claim ID</h4>
                    <p>{{claimId}}</p>
                </div>
                <div class="col-sm-4">
                    <h4>Policy</h4>
                    <p>{{policyName}}</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <label class="lb">User details</label>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                {{#each headers}}
                                <th scope="col">{{this}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each vals}}
                            <tr>
                                {{#each this}}
                                <td>{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-jumbotron">
            <div class="row">
                {{#each blocks}}
                <div class="col-sm-2">
                    <div class="block">
                        <h3>Block {{@index}}</h3>
                        {{#with this}}
                        <p class="hash">{{hash}}</p>
                        <p class="val">Police : {{policeVerified}}</p>
                        <p class="val">Company : {{companyVerified}}</p>
                        <p class="val">Hospital : {{hospitalVerified}}</p>
                        <p class="val">Bank : {{bankVerified}}</p>
                        {{/with}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" onclick="action('Accepted')" style="width: 80%;">Verify</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" onclick="action('Rejected')" style="width: 80%;">Reject</button>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
            </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
            </script>
        <script>
            $(document).ready(function () {
                console.log('ready');
                let vals = document.getElementsByClassName('val');
                for (let i = 0; i < vals.length; i++) {
                    let txt = vals[i].innerText.split(':')[1].trim();
                    if (txt === 'Pending')
                        vals[i].setAttribute("class", "gray");
                    else if (txt === 'Accepted')
                        vals[i].setAttribute("class", "green");
                    else if (txt === 'Rejected')
                        vals[i].setAttribute("class", "red");
                }
            });
            const action = (s) =>{
                var response = prompt("Are you sure you want to " + s + ' ?');
                if(response.toLowerCase() === 'yes')
                    window.location.href = '/add/{{claimId}}/' + s;
            }
        </script>
    </body>

</html>